{% extends "base.html" %}
{% load static %}

{% block title %}{{ invitation }}{% endblock title %}

{% block scripts %}
    <script src="{% static 'invitations/js/invitation_detail.js' %}"></script>
{% endblock %}


{% block content %}
	<div class="card bg-dark text-white">
		<div class="card-header">
			<h3>Invitation for {{ player }}</h3>
		</div>
		<div class="card-body">
			Already have an account? Log in!
			New user? Sign Up!
		</div>
		<div class="card-footer">
			<button type="button" class="btn btn-primary">Log in</button>
			<button type="button" class="btn btn-success">Sign up</button>
		</div>
	</div>
{% endblock content %}