{% extends "base.html" %}
{% load static %}

{% block title %}{{ invitation }}{% endblock title %}

{% block scripts %}
    <script src="{% static 'invitations/js/invitation_detail.js' %}"></script>
{% endblock %}


{% block content %}
	{% if user.is_authenticated %}
		<div class="card bg-dark text-white">
			<div class="card-header">
				Invitation
			</div>
			<div class="card-body">
				<p>You have been invited to join the <b>{{ league }}</b> league as a player, <b>{{ player }}</b>. Player name will be changed to your name.<br>
					Please confirm your participation in the league.</p>

					<p>League Name: <b>{{ league }}</b></p>
					<p>Player Name: <b>{{ player }}</b></p>
				<form action="" method="POST">
					{% csrf_token %}
					<button type="submit" class="btn btn-success mt-3" name="mergeUser" value="mergeUser">Confirm</button>
				</from>
			</div>
		</div>
	{% else %}
		<div class="card bg-dark text-white">
			<div class="card-header">
				<h3 class="text-center">Invitation for {{ player }} to {{ league }}</h3>
			</div>
			<div class="card-body">
				<div class="row mb-3 text-center">
					<div class="col-sm">
						Already have an account? Log in!
					</div>
					<div class="col-sm">
						New user? Sign Up!
					</div>
				</div>
				<div class ="row text-center">
					<div class="col-sm">
						<form action="{% url 'account_login' %}?next={% url 'invitation_accept' league.id key %}">
							{% csrf_token %}
							<p><button type="submit" class="btn btn-primary">Log in</button></p>
							<input type="hidden" name="next" value="{{ request.path }}" />
						</form>
					</div>
					<div class="col-sm">
						<form action="{% url 'account_signup' %}?next={% url 'invitation_accept' league.id key %}">
							{% csrf_token %}
							<p><button type="submit" class="btn btn-primary">Sign up</button></p>
							<input type="hidden" name="next" value="{{ request.path }}" />
						</form>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock content %}