{% load stat_tags %}
{% load static %}

{% block content %}
<head>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
        @font-face {
            font-family: FreeSans;
            src: url("/usr/share/fonts/truetype/freefont/FreeSans.ttf");
            }
    
            body {
            font-family: FreeSans;
            }
      </style>
      <meta charset="UTF-8">
      <title>{{ league }} - {{ date }}</title>
</head>
<h3>League: {{ league }}<br>Date: {{ date }}</h3>
<table id="playersList"class="td">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Goals</th>
            <th>Goals/Match</th>
            <th>Matches</th>
            <th>Matchdays</th>
            <th>Points</th>
            <th>Points/Match</th>
            <th>Wins</th>
            <th>Loses</th>
            <th>Draws</th>
            <th>Win Ratio</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players_list %}
        <tr>
            <td>{{ forloop.counter }}</th>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{% get_player_goals_in_league player league %}</td>
            <td>{% get_player_goals_per_match_in_league player league %}</td>
            <td>{% get_player_matches_played_in_league player league %}</td>
            <td>{% get_player_matchdays_in_league player league %}</td>
            <td>{% get_total_points_in_league player league %}</td>
            <td>{% get_points_per_match_in_league player league %}</td>
            <td>{% get_player_wins_in_league player league %}</td>
            <td>{% get_player_loses_in_league player league %}</td>
            <td>{% get_player_draws_in_league player league %}</td>
            <td>{% get_player_win_ratio_in_league player league %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}