{% extends "./base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block scripts %}
    <script src="{% static 'stat_track/js/home.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user_owned_leagues %}
        <div class='container-md'>
            <div class='card bg-dark mb-4'>
                <div class='card-header'>
                    <h2 class='text-white'>Manage Your Leagues</h2>
                </div>
                <ul class="list-group list-group-flush bg-dark text-white">
                    {% for league in user_owned_leagues %}
                                <li href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between" aria-current="true">
                                    <h5>{{ league }}</h5>
                                    <button type="button" class="btn btn-dark">Manage</button>
                                </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='card bg-dark mb-4'>
                <div class='card-header'>
                    <h2 class='text-white'>Leagues</h2>
                </div>
                <ul class="list-group list-group-flush bg-dark text-white">
                    {% for league in player_leagues %}
                                <li href="#" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between" aria-current="true">
                                    <h5>{{ league }}</h5>
                                    <button type="button" class="btn btn-dark">View</button>
                                </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% else %}
        <h1>Please register or log-in to access and modify leagues.</h1>
    {% endif %}
{% endblock %}