{% extends "./base.html" %}
{% load stat_tags %}
{% load static %}

{% block content %}

{% block scripts %}
    <script src="{% static 'stat_track/js/players_list.js' %}"></script>
{% endblock %}

<div class="card" data-bs-theme="dark">
    <div class="card-header text-white">
        <a class="text-white" href="{% url 'league_home' league.id %}" style="text-decoration: none"><h2>{{ league.name }}</h2></a>
    </div>
    <div class="table-responsive">
        <table id="playersList"class="table table-dark table-striped" style="white-space:nowrap;">
            <thead>
                <tr>
                    <th onclick="sortTable(0)" scope="col" data-type="number">#</th>
                    <th onclick="sortTable(1)" scope="col">First Name</th>
                    <th onclick="sortTable(2)" scope="col">Last Name</th>
                    <th onclick="sortTable(3)" scope="col" data-type="number">Goals</th>
                    <th onclick="sortTable(4)" scope='col' data-type="number">Goals/Match</th>
                    <th onclick="sortTable(5)" scope="col" data-type="number">Matches</th>
                    <th onclick="sortTable(6)" scope="col" data-type="number">Matchdays</th>
                    <th onclick="sortTable(7)" scope="col" data-type="number">Points</th>
                    <th onclick="sortTable(8)" scope="col" data-type="number">Points/Match</th>
                    <th onclick="sortTable(9)" scope="col" data-type="number">Wins</th>
                    <th onclick="sortTable(10)" scope="col" data-type="number">Loses</th>
                    <th onclick="sortTable(11)" scope="col" data-type="number">Draws</th>
                    <th onclick="sortTable(12)" scope="col" data-type="number">Win Ratio</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players_list %}
                <tr>
                    <td>{{ forloop.counter }}</th>
                    <td><a class="text-white" style="text-decoration: none" href="{% url 'player_stats' league.id player.id %}">{{ player.first_name }}</a></td>
                    <td><a class="text-white" style="text-decoration: none" href="{% url 'player_stats' league.id player.id %}">{{ player.last_name }}</a></td>
                    <td>{% get_player_goals_in_league player league %}</td>
                    <td>{% get_player_goals_per_match_in_league player league %}</td>
                    <td>{% get_player_matches_played_in_league player league %}</td>
                    <td>{% get_player_matchdays_in_league player league %}</td>
                    <td>{% get_total_points_in_league player league %}</td>
                    <td>{% get_points_per_match_in_league player league %}</td>
                    <td>{% get_player_wins_in_league player league %}</td>
                    <td>{% get_player_loses_in_league player league %}</td>
                    <td>{% get_player_draws_in_league player league %}</td>
                    <td>{% get_player_win_ratio_in_league player league %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>      
    </div>
</div>

{% endblock %}